.warning-container{
    width: 100%;
    display: flex;
    position: relative;
}

.warning-container p{
    text-align: left;
    margin: 6px 0px 0px 0px;
    color: rgb(236, 55, 55);
    font-size: 150%;
}

.approve-container{
    width: 100%;
    display: flex;
    position: relative;

}

.approve-container p{
    text-align: left;
    margin: 0px 0px 6px 0px;
    color: rgb(55, 236, 79);
    font-size: 150%;
}